html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  background-color: #fdf6e3;
}

header, footer {
  font-size: 1.5rem;
}

nav ul {
  font-family: sans-serif;
}

.logo {
  text-transform: uppercase;
}

.wrapper {
  background-color: #eee8d5;
}

#contents, #favs, #facts, #types {
  color: #93a1a1;
}

.wrapper > .dfn {
  background-color: #b58900;
}

.dfn strong:nth-child(2) {
  color: #fff;
}

nav ul li:nth-child(3) a, nav ul li:nth-child(4) a {
  background-color: #719e07;
}

ul li:nth-child(1) a {
  background-color: #719e07;
}

ul li:nth-child(3) a {
  background-color: #2694d8;
}

ol li:nth-child(1) {
  color: #719e47;
}

ol li:nth-child(3) {
  color: #2aa198;
}

.types li:nth-child(odd) {
  background-color: #657ba3;
}

.types li:nth-child(even) {
  background-color: #586e75;
}

.types li:nth-child(3n) {
  background-color: #d04b16;
}
